<h2 class="form-signin-heading font-weight-bold">Añadir Libro</h2>
<form (ngSubmit)="Add()">
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input type="text" class="form-control" id="isbn" [(ngModel)]="book.isbn" placeholder="ISBN">
  </div>
  <div class="form-group">
    <label for="tiulo">titulo</label>
    <input type="text" class="form-control" id="titulo" [(ngModel)]="book.titulo" placeholder="titulo">
  </div>
  <div class="form-group">
    <label for="paginas">Páginas</label>
    <input type="text" class="form-control" id="paginas" [(ngModel)]="book.n_pags" placeholder="páginas">
  </div>
  <div class="form-group">
    <label for="precio">Precio</label>
    <input type="text" class="form-control" id="precio" [(ngModel)]="book.n_pags" placeholder="páginas">
  </div>
  <div class="form-group">
    <label for="editorial">Editorial</label>
    <input type="text" class="form-control" id="editorial" [(ngModel)]="book.editorial" placeholder="páginas">
  </div>
  <div class="form-group">
    <label for="autor">Autor</label>
  </div>
</form>
